/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */
.color-1{
  background: teal;
}

.color-2 {
  background: navy;
}

.color-3{
  background: grey;
}

/* Textures or Patterns*/

.pattern-1{
  background: url(../img/pat-1.png)
}

.pattern-2{
  background: url(../img/pat-2.png)
}

.pattern-3{
  background: url(../img/pat-3.png)
}

/* Imagery */


/* Icons */


/* Typography */


/* Forms */


/* Tables */


/* Cards */